app = "ghostclass"
primary_region = "sin"

[build]
  [build.args]
    NODE_VERSION = "18"

[env]
  NODE_ENV = "production"
  PORT = "3000"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0

[[mounts]]
  source = "ghostclass_data"
  destination = "/app/backend/data"

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_gb = 1
